<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <!-- FOOTER-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-top-wrapper">
                    <div class="footer-top-left">
                        <p class="footer-top-focus">BECOME AN INSTRUCTOR</p>

                        <p class="footer-top-text">Join thousand of instructors and earn money hassle free!</p>
                    </div>
                    <div class="footer-top-right">
                        <button class="btn btn-blue btn-bold" data-target="#become_an_instructor"  data-toggle="modal"><span>GET
                                STARTED NOW</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-main">
                <div class="container">
                    <div class="footer-main-wrapper">
                        <div class="row">
                            <div class="col-2">
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="edugate-widget widget">
                                        <div class="title-widget"> <Span style="text-transform:none; font-size: 18px;">CodeSensai</Span> </div>
                                        <div class="content-widget">
                                            <p>CodeSensai, will give you a platform to Learn,grow and achieve the excellence by providing you a progressive learning programs, which will assure you a rewarding and exciting career.</p>
    
                                            <!-- <div class="info-list">
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-envelope-o"></i><a
                                                            href="#">info@thethinkyard.com</a></li>
                                                    <li><i class="fa fa-phone"></i><a href="#">0120 4325 907</a></li>
                                                    <li><i class="fa fa-map-marker"></i><a href="#">
                                                            <p>A-64, Sector 4 - Noida,</p>
    
                                                            <p>U.P - 201301, India</p>
                                                        </a></li>
                                                </ul>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="useful-link-widget widget">
                                        <div class="title-widget">QUICK LINKS</div>
                                        <div class="content-widget">
                                            <div class="useful-link-list">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-angle-right"></i><a href="/">Home</a></li>
                                                            <li><i class="fa fa-angle-right"></i><a href="courses.html">Courses</a>
                                                            </li>
                                                            <!-- <li><i class="fa fa-angle-right"></i><a href="#">Placement</a> -->
                                                            </li>
                                                            <li><i class="fa fa-angle-right"></i><a href="faq.html">Faq</a></li>
                                                            
    
                                                            <!-- <li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li> -->
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <ul class="list-unstyled">
                                                                    <li><i class="fa fa-angle-right"></i><a href="/contact-us">Contact Us</a></li>
                                                                    <!-- <li><i class="fa fa-angle-right"></i><a href="#">Latest Courses</a></li> -->
                                                                    <!-- <li><i class="fa fa-angle-right"></i><a href="#">Partners</a></li> -->
                                                                    <li><i class="fa fa-angle-right"></i><a href="#">News</a></li>
                                                                    <li><i class="fa fa-angle-right"></i><a href="privacy-policies.html">Privacy Policies</a></li>
                                                                    <!-- <li><i class="fa fa-angle-right"></i><a href="#">Faq</a></li> -->
                                                                    <!-- <li><i class="fa fa-angle-right"></i><a href="#">Term &
                                                                            Consition</a></li> -->
                                                                </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-2">
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="gallery-widget widget">
                                        <div class="title-widget">GET IN TOUCH</div>
                                        <div class="content-widget">
                                            <!-- <div class="gallery-list"><a href="#" class="thumb"> -->
                                            <div class="useful-link-list">
    
    
                                                <!-- <img src="images/gallery/gallery-01.jpg" alt="" class="img-responsive"/></a>
                                            <a href="#" class="thumb"><img src="images/gallery/gallery-02.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="images/gallery/gallery-03.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="images/gallery/gallery-04.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="images/gallery/gallery-05.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="images/gallery/gallery-06.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="images/gallery/gallery-07.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="images/gallery/gallery-08.jpg"
                                                 
                
                                                alt="" class="img-responsive"/></a>-->
                                                
    
                                                <div class="info-list">
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-envelope-o"></i><a
                                                                    href="#">info@codesensai.com</a></li>
                                                            <li><i class="fa fa-phone"></i><a href="#">0120 4325 907</a></li>
                                                            <li><i class="fa fa-map-marker"></i><a href="#">
                                                                    <p>A 40, Block A, Second Floor, </p>
                                                                    <p>Sector 62 - Noida,</p>
            
                                                                    <p>U.P - 201301, India</p>
                                                                </a></li>
                                                        </ul>
                                                    </div>
    
                                            </div>
    
    
    
    
                                            <div class="clearfix"></div>
                                            <!-- <a href="#" class="view-more">View more&nbsp;<i class="fa fa-angle-double-right mls"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="mailing-widget widget">
                                        <div class="title-widget">FOLLOW US</div>
                                        <div class="content-wiget">
                                            <!-- <p>Become a <a href="#"> Mentor</a></p> -->
    
                                            <!-- <form action="index.html">
                                                <div class="input-group"><input type="text" placeholder="Email address"
                                                        class="form-control form-email-widget" /><span
                                                        class="input-group-btn"><input type="submit" value="✓"
                                                            class="btn btn-email" /></span></div>
                                            </form>
                                            <p>We respect your privacy</p> -->
    
                                            <div class="socials"><a href="https://www.facebook.com/ThinkYard-Pvt-Ltd-567033887147374/?modal=admin_todo_tour" target="_blank" class="facebook"><i class="fa fa-facebook">
                                                    </i></a><a href="https://www.linkedin.com/in/thinkyard-thinkyard-a9b512180/" target="_blank" class="google"><i class="fa fa-linkedin"></i></a>
                                                <a href="https://twitter.com/YardThink" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                                                <!-- <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a> -->
                                                <!-- <a href="#" class="blog"><i class="fa fa-rss"></i></a> -->
                                                <!-- <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="hyperlink">
                        <div class="pull-left hyper-left">
                            <ul class="list-inline">
                                <li><a href="/">HOME</a></li>
                                <li><a href="courses.html">COURSES</a></li>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="index.html">RESOURCE</a></li>
                                <!-- <li><a href="news.html">PLACEMENT</a></li> -->
                                <li><a href="index.html#campustraining">SERVICE</a></li>
                                <li><a href="/contact-us">CONTACT US</a></li>
    
                            </ul>
                        </div>
                        <div class="pull-right hyper-right">&copy; CodeSensai 2019</div>
                    </div>
                </div>
            </div>

    </footer>

</body>
</html>