
<body>
    <!-- HEADER-->
    <header>
        <div class="header-topbar">
            <div class="container">
                <div class="topbar-left pull-left">
                    <div class="email"><a href="#"><i
                                class="topbar-icon fa fa-envelope-o"></i><span>info@codesensei.com</span></a></div>
                    <div class="hotline"><a href="#"><i class="topbar-icon fa fa-phone"></i><span>0120 4325
                                907</span></a></div>
                </div>
                <div class="topbar-right pull-right">
                    <div class="socials">
                        <a href="https://www.facebook.com" target="_blank;" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com" target="_blank" class="google"><i class="fa fa-linkedin"></i></a>
                        <a href="https://twitter.com" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                   

                        
                                               
                        <!-- <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a> -->
                        <!-- <a href="#" class="blog"><i class="fa fa-rss"></i></a> -->
                        <!-- <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>-->
                    </div>
                    
                     <div class="group-sign-in">
                         <a href="/login" class="login">Login</a>
                         <a href="/register" class="register">Register</a></div>
                </div>
                
            </div>
        </div>
        <div class="header-main homepage-01">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-heade">
                        <div class="logo pull-left"><a href="/" class="header-logo"><img
                                    src="images/logo2.jpg" alt="" /><span style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 30px; color:#145e9e; text-decoration:none">CodeSensei</span></a></div>
                        <button type="button" data-toggle="collapse" data-target=".navigation"
                            class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse pull-right">
                        <ul class="nav-links nav navbar-nav">
                            <li><a href="/" class="main-menu active">Home</a></li>
                            <!--added new-->
                            <!-- <li class="dropdown active"><a href="javascript:void(0)" class="main-menu">Home<span class="fa fa-angle-down icons-dropdown"></span></a>
                            <ul class="dropdown-menu edugate-dropdown-menu-1">
                                <li><a href="index.html" class="link-page">Home page 01</a></li>
                                <li><a href="homepage-02.html" class="link-page">Home page 02</a></li>
                                <li><a href="homepage-03.html" class="link-page">Home page 03</a></li>
                            </ul>
                        </li> -->
                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">Courses<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="/best-meanstack-training-institute-in-noida" class="link-page">Mean Stack Development</a></li>
                                    <li><a href="/best-web-designing-training-institute-in-noida" class="link-page">Web Development</a></li>
                                    <li><a href="/best-angularjs-training-institute-in-noida" class="link-page">Angular </a></li>
                                    <li><a href="/best-nodejs-training-institute-in-noida" class="link-page">Node.js</a></li>
                                    <li><a href="/best-expressjs-training-institute-in-noida" class="link-page">Express.js</a></li>
                                    <li><a href="/best-mongodb-training-institute-in-noida" class="link-page">MongoDB</a></li>

                                </ul>
                            </li>
                            <li><a href="/about-us" class="link-page main-menu">About Us</a></li>
                            <!-- <li class="dropdown"><a href="javascript:void(0)" class="main-menu">Internship<span class="fa fa-angle-down icons-dropdown"></span></a>
                            <ul class="dropdown-menu edugate-dropdown-menu-1">
                                <li><a href="gallery-3column.html" class="link-page">gallery 3 column</a></li>
                                <li><a href="gallery-4column.html" class="link-page">gallery 4 column</a></li>
                                <li><a href="gallery-masonry.html" class="link-page">gallery masonry</a></li>
                            </ul>
                        </li> -->
                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">Resource<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="/events" class="link-page">Event</a></li>
                                    <li><a href="index.html" class="link-page">Practical Assignment </a></li>
                                    <!-- <li><a href="about-us.html" class="link-page">about us</a></li> -->
                                    <li><a href="index.html" class="link-page">Online Class</a></li>
                                    <!-- <li><a href="index.html" class="link-page">Work Shop</a></li> -->
                                    <li><a href="index.html" class="link-page">News</a></li>
                                    <li><a href="faq.html" class="link-page">FAQ </a></li>
                                </ul>
                            </li>
                            <!-- <li><a href="news-detail.html" class="link-page main-menu">Placement</a></li> -->

                            <!-- <li class="dropdown"><a href="javascript:void(0)" class="main-menu">Placement<span class="fa fa-angle-down icons-dropdown"></span></a>
                            <ul class="dropdown-menu edugate-dropdown-menu-1">
                                <li><a href="news.html" class="link-page">news list</a></li>
                                <li><a href="news-grid.html" class="link-page">news grid</a></li>
                                <li><a href="news-grid-nonsidebar.html" class="link-page">news grid nonsidebar</a></li>
                                <li><a href="news-masonry.html" class="link-page">news masonry</a></li>
                                <li><a href="news-detail.html" class="link-page">news detail</a></li>
                            </ul>
                        </li> -->
                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">Service<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                        <!-- <li><a href="index.html" class="link-page">Campus training</a></li> -->
                                                                              <li><a href="#campustraining" class="link-page">Campus Training</a></li>

                                        <!-- <li><a href="index.html" class="link-page">Classroom Training programs</a></li> -->
                                                                              <li><a href="#classroomtraining" class="link-page">Classroom Training</a></li>

                                        <!-- <li><a href="index.html" class="link-page">Corporate Training</a></li> -->
                                                    <li><a href="#corporatetraining" class="link-page">Corporate Training</a></li>

                                </ul>
                            </li>

                            <li><a href="/contact-us" class="main-menu">Contact Us</a></li>

                            <!-- <li class="button-search"><p class="main-menu"><i class="fa fa-search"></i></p></li>
                        <div class="nav-search hide">
                            <form><input type="text" placeholder="Search" class="searchbox"/>
                                <button type="submit" class="searchbutton fa fa-search"></button>
                            </form>
                        </div> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>




</body>
</html>