<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

 <!-- LIBRARY FONT-->
    <link type="text/css" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300">
    <link type="text/css" rel="stylesheet" href="font/font-icon/font-awesome-4.4.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="font/font-icon/font-svg/css/Glyphter.css">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="libs/animate/animate.css">
    <link type="text/css" rel="stylesheet" href="libs/bootstrap-3.3.5/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="libs/owl-carousel-2.0/assets/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="libs/selectbox/css/jquery.selectbox.css">
    <link type="text/css" rel="stylesheet" href="libs/fancybox/css/jquery.fancybox.css">
    <link type="text/css" rel="stylesheet" href="libs/fancybox/css/jquery.fancybox-buttons.css">
    <link type="text/css" rel="stylesheet" href="libs/media-element/build/mediaelementplayer.min.css">
    <!-- STYLE CSS    -->
    <link type="text/css" rel="stylesheet" href="css/color-8.css" id="color-skins">
    <!--link(type="text/css", rel='stylesheet', href='#', id="color-skins")-->
    <script src="libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="libs/js-cookie/js.cookie.js"></script>
    <!--===============================================================================================-->	
	{{!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> --}}
<!--===============================================================================================-->
	{{!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> --}}
<!--===============================================================================================-->
	{{!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> --}}
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

    
     {{!-- register --}}
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" href="css/regis.css">

</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}



    
    <script src="libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="libs/smooth-scroll/jquery-smoothscroll.js"></script>
    <script src="libs/owl-carousel-2.0/owl.carousel.min.js"></script>
    <script src="libs/appear/jquery.appear.js"></script>
    <script src="libs/count-to/jquery.countTo.js"></script>
    <script src="libs/wow-js/wow.min.js"></script>
    <script src="libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
    <script src="libs/fancybox/js/jquery.fancybox.js"></script>
    <script src="libs/fancybox/js/jquery.fancybox-buttons.js"></script>
    <!-- MAIN JS-->
    <script src="js/main.js"></script>
    <!-- LOADING SCRIPTS FOR PAGE-->
    <script src="libs/isotope/isotope.pkgd.min.js"></script>
    <script src="libs/isotope/fit-columns.js"></script>
    <script src="js/pages/homepage.js"></script>
    <script src="js/pages/contact.js"></script>
    
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	{{!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> --}}
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main2.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="js/regis.js"></script>





</body>
</html>